<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>404 Brian Kim Media</title>
		<link rel="stylesheet" href="style.css">
		<script src="index.js" charset="utf-8" defer></script>
	</head>
	{{> header}}
	<body>
		<center>
			<p style="font-size:400px">404</p>
		</center>
	</body>

</html>
