<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Brian Kim Media</title>
		<link rel="stylesheet" href="style.css">
		<script src="index.js" charset="utf-8" defer></script>
	</head>
	<body>
	
		{{> header}}
		
		<main class="content">
		
			<div class="side-bar">
				
			</div>
		
			<div class="cards">
			
				{{#each albums}}
					{{> album}}
				{{/each}}
			
			</div>
			
		</main>

	</body>

</html>
